body{
    background-color: beige;
}

h1 {
    display: block;
    text-align: center;
}

p {
    margin: 20%;
    color: red;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}