body{
    background-color: sandybrown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    display: block;
    text-align: center;
}

p {
    margin: 20%;
    color: red;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
    width: 100%;
}